:where(.section.level2, section.level2) {
  margin-top: 10px;
}

a {
  color: #649DD7;
}

.navbar {
  background-color: #805640cc;
}

.navbar-brand {
  color: #ffffff;
}

#section-background {
  background-color: #f8f5f0 !important;
}

#dashboard-container {
  background-color: #f8f5f0 !important;
}
